Repository iml130/sola, pull requests merged in 2023-08, with the labels that each got.

#71 Implementing Time Windows in STN
  daisi/src/cpps/common/cpps_logger_ns3_material_flow.cpp
  daisi/src/cpps/logical/algorithms/disposition/auction_participant_state.h
  daisi/src/cpps/logical/order_management/metrics.cpp
  daisi/src/cpps/logical/order_management/metrics.h
  daisi/src/cpps/logical/order_management/stn_order_management.cpp
  daisi/src/cpps/logical/order_management/stn_order_management.h
  daisi/src/material_flow/model/CMakeLists.txt
  daisi/src/material_flow/model/task.cpp
  daisi/src/material_flow/model/task.h
  daisi/src/material_flow/model/time_window.cpp
  daisi/src/material_flow/model/time_window.h
  daisi/tests/unittests/cpps/order_management/stn_order_management_test.cpp
  solanet/include/solanet/serializer/serializer.h
Labels: cpps

#46 Autonomous Mobile Robots Documentation
  .gitignore
  applications/docs/getting_started.md
  applications/docs/glossary.md
  applications/docs/optimaflow/amr_agv.md
  applications/docs/optimaflow/contract_net.md
  applications/docs/optimaflow/getting_started.md
  applications/docs/optimaflow/logging.md
  applications/docs/optimaflow/material_flow.md
  applications/docs/optimaflow/optimization.md
  applications/docs/optimaflow/round_robin.md
  docs/applications
  docs/img/.$sola_example_minhton_minhcast1.svg.bkp
  docs/img/.$sola_example_minhton_minhcast1.svg.dtmp
  docs/optimaflow/glossary.md
  docs/optimaflow/img/amr_asset_connector.svg
  docs/optimaflow/img/amr_logical_agent.svg
  docs/optimaflow/img/amr_physical_asset.svg
  docs/optimaflow/img/amr_physical_asset_fsm_current.svg
  docs/optimaflow/img/amr_physical_logical_handshake.svg
  docs/optimaflow/img/amr_physical_logical_order_execution.svg
  docs/optimaflow/img/central_optimizer_architecture.svg
  docs/optimaflow/img/round_robin_example.svg
  docs/optimaflow/img/tepssi_pubsub.svg
  docs/optimaflow/img/trapezoid_velocity_profile.svg
  docs/optimaflow/img/trapezoid_velocity_profile_2.svg
  docs/optimaflow/introduction.md
  docs/optimaflow/logging.md
  docs/optimaflow/participants/amr.md
  docs/optimaflow/participants/material_flow.md
  docs/optimaflow/participants/overview.md
  docs/optimaflow/task_assignment/decentralized.md
  docs/optimaflow/task_assignment/round_robin.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: docs

#96 fix: Move pull request template to .github folder
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug

#98 Remove MinhtonNodeNs3 abstraction layer
  daisi/src/minhton-ns3/CMakeLists.txt
  daisi/src/minhton-ns3/minhton_application.cpp
  daisi/src/minhton-ns3/minhton_application.h
  daisi/src/minhton-ns3/minhton_manager.cpp
  daisi/src/minhton-ns3/minhton_manager_scheduler.h
  daisi/src/minhton-ns3/minhton_manager_scheduler_helper.cpp
  daisi/src/minhton-ns3/minhton_node_ns3.cpp
  daisi/src/minhton-ns3/minhton_node_ns3.h
Labels: minhton, daisi
