Repository iml130/sola, pull requests merged in 2023-10, with the labels that each got.

#126 Properly rename TaskManagement
  .github/workflows/build-sola.yml
  daisi/src/cpps/logical/algorithms/assignment/auction_participant_state.cpp
  daisi/src/cpps/logical/algorithms/assignment/auction_participant_state.h
  daisi/src/cpps/logical/algorithms/assignment/centralized_participant.cpp
  daisi/src/cpps/logical/algorithms/assignment/centralized_participant.h
  daisi/src/cpps/logical/algorithms/assignment/iterated_auction_assignment_participant.cpp
  daisi/src/cpps/logical/algorithms/assignment/iterated_auction_assignment_participant.h
  daisi/src/cpps/logical/amr/amr_logical_agent.cpp
  daisi/src/cpps/logical/amr/amr_logical_agent.h
  daisi/src/cpps/logical/task_management/auction_based_task_management.h
  daisi/src/cpps/logical/task_management/simple_task_management.cpp
  daisi/src/cpps/logical/task_management/simple_task_management.h
  daisi/src/cpps/logical/task_management/stn_task_management.cpp
  daisi/src/cpps/logical/task_management/stn_task_management.h
  daisi/src/cpps/logical/task_management/stn_task_management_components.cpp
  daisi/src/cpps/logical/task_management/stn_task_management_components.h
  daisi/src/cpps/logical/task_management/task_management.h
  daisi/src/cpps/logical/task_management/task_management_helper.cpp
  daisi/src/cpps/logical/task_management/task_management_helper.h
  daisi/tests/unittests/CMakeLists.txt
  daisi/tests/unittests/cpps/logical/auction_participant_state_test.cpp
  daisi/tests/unittests/cpps/task_management/simple_task_management_test.cpp
  daisi/tests/unittests/cpps/task_management/stn_task_management_test.cpp
Labels: cpps

#130 refactor(minhton): Use SolaNet SERIALIZE macro
  daisi/src/minhton-ns3/adapter/algorithms/CMakeLists.txt
  daisi/src/minhton-ns3/adapter/core/CMakeLists.txt
  daisi/src/minhton-ns3/adapter/message/CMakeLists.txt
  docs/minhton/programmers/messages.md
  minhton/include/minhton/algorithms/esearch/find_query.h
  minhton/include/minhton/algorithms/esearch/node_data.h
  minhton/include/minhton/core/logical_node_info.h
  minhton/include/minhton/core/node_info.h
  minhton/include/minhton/core/physical_node_info.h
  minhton/include/minhton/message/attribute_inquiry_answer.h
  minhton/include/minhton/message/attribute_inquiry_request.h
  minhton/include/minhton/message/bootstrap_discover.h
  minhton/include/minhton/message/bootstrap_response.h
  minhton/include/minhton/message/empty.h
  minhton/include/minhton/message/find_query_answer.h
  minhton/include/minhton/message/find_query_request.h
  minhton/include/minhton/message/find_replacement.h
  minhton/include/minhton/message/get_neighbors.h
  minhton/include/minhton/message/inform_about_neighbors.h
  minhton/include/minhton/message/join.h
  minhton/include/minhton/message/join_accept.h
  minhton/include/minhton/message/join_accept_ack.h
  minhton/include/minhton/message/lock_neighbor_request.h
  minhton/include/minhton/message/lock_neighbor_response.h
  minhton/include/minhton/message/message_header.h
  minhton/include/minhton/message/remove_and_update_neighbor.h
  minhton/include/minhton/message/remove_neighbor.h
  minhton/include/minhton/message/remove_neighbor_ack.h
  minhton/include/minhton/message/replacement_ack.h
  minhton/include/minhton/message/replacement_nack.h
  minhton/include/minhton/message/replacement_offer.h
  minhton/include/minhton/message/replacement_update.h
  minhton/include/minhton/message/search_exact.h
  minhton/include/minhton/message/search_exact_failure.h
  minhton/include/minhton/message/serialize.h
  minhton/include/minhton/message/signoff_parent_answer.h
  minhton/include/minhton/message/signoff_parent_request.h
  minhton/include/minhton/message/subscription_order.h
  minhton/include/minhton/message/subscription_update.h
  minhton/include/minhton/message/unlock_neighbor.h
  minhton/include/minhton/message/update_neighbors.h
  minhton/src/algorithms/CMakeLists.txt
  minhton/src/core/CMakeLists.txt
  minhton/src/message/CMakeLists.txt
Labels: minhton

#65 Deploy documentation to GitHub environments
  .github/workflows/build-sola.yml
  .github/workflows/documentation.yml
  docs/requirements.txt
Labels: docs
